
###> symfony/framework-bundle ###
.env
.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
bin
migrations
tests
translations
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
phpunit.xml.dist
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/public/uploads/movies/
###< symfony/asset-mapper ###
importmap.php
